{{ if .Site.Params.DebugMode }}
{{  "<!-- ^^^ partial: body>footer#copyright ^^^ -->" | safeHTML -}}
{{ end }}
{{- $cr := .Site.Params.Copyright }}
<p class="clh-copyright">
  <small>
    &copy; {{ $cr.Since }}-{{ time.Now.Year }} <a href="{{ $cr.Href.Contact | relURL }}">{{ $cr.Name }}</a>.
    All rights reserved.
    &mdash; <a href="{{ $cr.Href.Credits | relURL }}">Credits</a>
  </small>
</p>
{{ if .Site.Params.DebugMode }}
{{- "<!-- --- partial:body>footer#copyright --- -->" | safeHTML -}}
{{ end }}
