<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <p class="view"><a href="/posts">View Posts</a></p>
        <ul>
          <li><a href="/">首页<strong>Home</strong></a></li>
          <li><a href="/posts">博客<strong>Posts</strong></a></li>
          <li><a href="/about">关于<strong>About</strong></a></li>
        </ul>
      </header>
      <section>
      {{ content }}
      </section>
    </div>
    <footer>
      <p>
        <a href="/about#license">
          <img style="border-width:0" alt="Creative Commons License" src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png" />
          <img style="border-width:0" alt="GNU Affero General Public License" src="https://gnu.org/graphics/agplv3-88x31.png" />
        </a>
      </p>
      <p>
        <small>
          &copy; 2018-{{ 'now' | date: "%Y" }} <a href="/about#contact">{{ site.author.name }}</a>.
          All rights reserved.
          &mdash; <a href="/about#credits">Credits</a>
        </small>
      </p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% include footer-custom.html %}
  </body>
</html>
